# 1. DEPENDENCIES
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# 2. NEXT.JS BUILD & OUTPUT
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# 3. FIREBASE SPECIFIC (Crucial for Hosting)
# Abaikan folder cache dan log debug
.firebase/
*-debug.log
firebase-debug.log*
firestore-debug.log*

# 4. ENVIRONMENT VARIABLES (Security)
# Wajib diabaikan agar API Key Firebase tidak bocor
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.local

# 5. OS & IDE
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# 6. MISC
/coverage
.vercel
*.pem

# 7. DEVELOPMENT/UTILITY ROUTES
/src/app/admin/